/target/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

### Eclipse Patch ###
# Eclipse Core
.project
/.settings
# JDT-specific (Eclipse Java Development Tools)
.classpath
/.gradle/
/build/

.settings
