@import url("dashboard.css");

@charset "utf-8";

/* BACKGROUND */
.place-back-ground-color {background: #D9E6FF; color: #000000;}
.place-sub-back-ground-color {background: #E6E6EF; margin:33px 33px 33px 33px; border-radius: 13px;} /* margin : top right bottom left */

/* TOP */
.place-top-area {background: #FFFFFF; min-height:79px; border-top: 1px solid #A7B7DB; border-right: 1px solid #A7B7DB; border-left: 1px solid #A7B7DB; overflow: hidden !important; border-radius: 13px 13px 0px 0px;}
.place-middle-area{border: 1px solid #A7B7DB; border-radius: 0px 0px 13px 13px;}
.place-top-left-area {align-self: center; padding-left: 30px; padding-right: 29px;}
.place-top-site-text {font-size: 27px; font-weight: 900;}
.place-top-time-text {font-size: 18px; font-weight: 500; justify-content: flex-end;}
.place-top-right-area {align-self: center; padding-left: 29px; padding-right: 30px;}

/* SUB TITLE */
.place-sub-title-area{min-height: 70px;} 
.place-sub-title {font-size: 22px; font-weight: 700; display: table-cell; vertical-align: bottom; padding-bottom: 10px;}

/* LEFT, RIGHT */
.place-left-area {min-height:754px; padding:0px 29px 0px 29px; border-right: 1px solid #A7B7DB; border-radius: 0px 0px 0px 13px;}
.place-right-area {min-height:754px; padding:0px 30px 0px 30px; border-radius: 0px 0px 13px 0px;}

/* LEFT AREA */
.place-area-condition-box{background: #1E3155;}
.place-condition-box{min-height: 314px; background: #FFFFFF; border-radius: 15px; border: 1px solid #A7B7DB;} /* min-width:496px; */
.place-condition-title{font-size:21px; font-weight:500; text-align:center; padding: 15px 0px 5px 0px; color:#4477ED}
.place-prog-left-text{max-width: 100px; font-size:13px; font-weight:400; text-align: right; padding-right:20px; overflow: hidden;}
.place-prog-right-text{max-width: 100px; font-size:13px; font-weight:400; text-align: left; padding-left:20px; overflow: hidden;}
.place-area-input-box {min-height:645px; padding-bottom:39px;}
.place-landWorker-background{background: url(../icon/site/white/landworker.png) no-repeat; background-position: center;}
.place-marineWorker-background{background: url(../icon/site/white/marineworker.png) no-repeat; background-position: center;}
.place-landMachine-background{background: url(../icon/site/white/landmachine.png) no-repeat; background-position: center;}
.place-marineMachine-background{background: url(../icon/site/white/marinemachine.png) no-repeat; background-position: center;}
.place-worker-none-background{background: url(../icon/site/white/worker_none.png) no-repeat; background-position: center;}
.place-vehicle-none-background{background: url(../icon/site/white/machine_none.png) no-repeat; background-position: center;}
.place-markertext1{position: absolute; top: 5%; left: 69%; width:125px; height:18px; text-align:left;}
.place-marker1{position: absolute; top: 7%; left: 64%; width:18px; height:18px; background-color: #4477ED; border-radius: 50%;}
.place-markertext2{position: absolute; bottom: 8%; left: 69%; width:125px; height:18px; text-align:left;}
.place-marker2{position: absolute; bottom: 7%; left: 64%; width:18px; height:18px; background-color: #9559EA; border-radius: 50%;}
.place-markertext3{position: absolute; bottom: 8%; right: 69%; width:125px; height:18px; text-align:right;}
.place-marker3{position: absolute; bottom: 7%; right: 64%; width:18px; height:18px; background-color: #E7574F; border-radius: 50%;}
.place-markertext4{position: absolute; top: 5%; right: 69%; width:125px; height:18px; text-align:right;}
.place-marker4{position: absolute; top: 7%; right: 64%; width:18px; height:18px; background-color: #4CCC4C; border-radius: 50%;}
.place-none-text{color:#4477ED}

/* RIGHT : NOW */
.place-now-weather-box {min-height:148px; background: #FFFFFF; border-radius: 10px; border: 1px solid #A7B7DB;}
.place-now-div-line{padding-right:15px; border-right: solid 1px #A7B7DB;}
.place-now-position-icon {width:21px; height:27px; background: url(../icon/site/white/position.png) no-repeat;}
.place-now-position-text {font-size:18px; font-weight:400;}

.place-now-maxtemp-icon {width:9px; background: url(../icon/site/white/maxtemp.png) no-repeat; background-position: center;}
.place-now-mintemp-icon {width:9px; background: url(../icon/site/white/mintemp.png) no-repeat; background-position: center;}
.place-now-weather-icon-area {min-width: 100px;}
.place-now-weather-text{color:#4477ED}

/* RIGHT : TODAY */
.place-today-weather-box{min-width:562px; min-height:330px; background: #1E3155; border-radius: 15px; text-align: center; font-size: 15px; font-weight:400; border: 1px solid #A7B7DB;}
.place-today-weather-title-box{min-width:51px; background: #FFFFFF;}
.place-today-weather-title-box div{justify-content: center;}
.place-today-weather-title-box div>p{color:#4477ED;}
.place-today-weather-content-box1{min-width:72px; background: #FFFFFF; border-left: 1px solid #A7B7DB;}
.place-today-weather-content-box1 div{justify-content: center;}
.place-today-weather-content-box2{min-width:72px; background: #FFFFFF; border-left: 1px solid #A7B7DB;}
.place-today-weather-content-box2 div{justify-content: center;}

/* RIGHT : WEEK */
/* .week-weather-box{padding-bottom:39px;} */
.place-week-weather-content-box{min-width:68px; min-height:137px; background: #FFFFFF; border-radius: 10px; border: 1px solid #A7B7DB;}
.place-week-weather-content-box div:not(:nth-child(2)){justify-content: center; align-self: center;}
.place-week-weather-line {height: 1px; width: 65%; border-bottom: solid 1px #A7B7DB;}
.place-week-selected{background: #4477ED !important; color: #FFFFFF;}

/* ICON */
.place-window-max {width:30px; height:30px; background: url(../icon/window_max.png) no-repeat; cursor: pointer;}
.place-window-return {width:30px; height:30px; background: url(../icon/window_return.png) no-repeat; cursor: pointer;}
.place-now-weather-icon1 {background: url(../icon/site/weather/1.png) no-repeat; background-size: 100% 100%;}
.place-now-weather-icon3 {background: url(../icon/site/weather/3.png) no-repeat; background-size: 100% 100%;}
.place-now-weather-icon4 {background: url(../icon/site/weather/4.png) no-repeat; background-size: 100% 100%;}
.place-now-weather-icon5 {background: url(../icon/site/weather/5.png) no-repeat; background-size: 100% 100%;}
.place-now-weather-icon7 {background: url(../icon/site/weather/7.png) no-repeat; background-size: 100% 100%;}
.place-now-weather-icon9 {background: url(../icon/site/weather/9.png) no-repeat; background-size: 100% 100%;}
.place-now-weather-icon12 {background: url(../icon/site/weather/12.png) no-repeat; background-size: 100% 100%;}

.place-black-select-icon{min-width: 32px; height: 32px; background: url(../icon/black-no-select.png) no-repeat; background-position: center;}
.place-white-select-icon{min-width: 32px; height: 32px; background: url(../icon/white-select.png) no-repeat; background-position: center;}

/* Weather temperature icon */
.place-today-weather-icon1 {background: url(../icon/site/weather/1.png) no-repeat; background-position: center; background-size: contain;}
.place-today-weather-icon3 {background: url(../icon/site/weather/3.png) no-repeat; background-position: center; background-size: contain;}
.place-today-weather-icon4 {background: url(../icon/site/weather/4.png) no-repeat; background-position: center; background-size: contain;}
.place-today-weather-icon5 {background: url(../icon/site/weather/5.png) no-repeat; background-position: center; background-size: contain;}
.place-today-weather-icon7 {background: url(../icon/site/weather/7.png) no-repeat; background-position: center; background-size: contain;}
.place-today-weather-icon9 {background: url(../icon/site/weather/9.png) no-repeat; background-position: center; background-size: contain;}
.place-today-weather-icon12 {background: url(../icon/site/weather/12.png) no-repeat; background-position: center; background-size: contain;}

/* Weather wind icon */
.place-today-weather-small-wind1 {width:18px; height:18px; background: url(../icon/site/wind/1.png) no-repeat;}
.place-today-weather-small-wind2 {width:18px; height:18px; background: url(../icon/site/wind/2.png) no-repeat;}
.place-today-weather-small-wind3 {width:18px; height:18px; background: url(../icon/site/wind/3.png) no-repeat;}
.place-today-weather-small-wind4 {width:18px; height:18px; background: url(../icon/site/wind/4.png) no-repeat;}
.place-today-weather-small-wind5 {width:18px; height:18px; background: url(../icon/site/wind/5.png) no-repeat;}
.place-today-weather-small-wind6 {width:18px; height:18px; background: url(../icon/site/wind/6.png) no-repeat;}
.place-today-weather-small-wind7 {width:18px; height:18px; background: url(../icon/site/wind/7.png) no-repeat;}
.place-today-weather-small-wind8 {width:18px; height:18px; background: url(../icon/site/wind/8.png) no-repeat;}
.place-today-weather-small-wind12 {width:63px; height:45px; background: url(../icon/site/wind/12.png) no-repeat;}

/**** CSS progress bar ****/
.place-progress-background {
    min-width: 100px;
    background-color: #C3C3D1;
    height: 15px;
    border-radius: 10px;
}

.place-progressbar1 {
	border-radius: 10px; 
	background-color: #4477ED;
	height: 15px;
	width: 0%;
}

.place-progressbar2 {
	border-radius: 10px; 
	background-color: #9559EA;
	height: 15px;
	width: 0%;
}

.place-progressbar3 {
	border-radius: 10px; 
	background-color: #E7574F;
	height: 15px;
	width: 0%;
}

.place-progressbar4 {
	border-radius: 10px; 
	background-color: #4CCC4C;
	height: 15px;
	width: 0%;
}

.place-left-border{border-left:solid 1px #A7B7DB; height: 100% !important; line-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.place-table-header{height:110px; justify-content: center;}
.place-stat-start-row{align-items: center; border-bottom: 1px solid #A7B7DB;}
.place-stat-row1{align-items: center; border-bottom: 1px solid #A7B7DB;}
.place-stat-row1 div:nth-child(2){color:#4477ED}
.place-stat-row1 div:nth-child(3){color:#E7574F}
.place-stat-row1 div:nth-child(4){color:#717071}
.place-stat-row2{align-items: center; border-bottom: 1px solid #A7B7DB; background: #FFFFFF;}
.place-stat-row2 div:nth-child(2){color:#4477ED}
.place-stat-row2 div:nth-child(3){color:#E7574F}
.place-stat-row2 div:nth-child(4){color:#717071}
.place-stat-end-row{align-items: center; background: #FFFFFF; border-radius: 0px 0px 18px 18px}
.place-stat-end-row div:nth-child(2){color:#4477ED}
.place-stat-end-row div:nth-child(3){color:#E7574F}
.place-stat-end-row div:nth-child(4){color:#717071}

.place-area-list {
	overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.place-area-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.place-area-list>div{border-bottom: 1px solid #A7B7DB; height:50px; justify-content: center; align-items: center;}
.place-area-list a{color:#000000;}
.place-color_row{background: #f2f2f9;}
.place-area-list>div:last-child{
  border-radius: 0px 0px 18px 18px; border-bottom: 0px solid #2C4670;
}

/* 스마트 태그 테이블 */
.tSmartTag > tbody > tr {
	border-bottom: solid 1px #A7B7DB;
}
.tSmartTag > tbody > tr:nth-child(2) {
	background: #f2f2f9;
}
.tSmartTag > tbody > tr > td:not(:last-child) {
	border-right: solid 1px #A7B7DB;
}